/*================= Cкидання стилів ======================== */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*============= Глобальні стилі =================  */
body {
  font-family: "Popins", sans-serif;
  font-size: 16px;
  color: #22343d;
  line-height: 1.6;
}

button {
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

/* ====================== Хедер ======================= */
.header {
}

.header-container {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.9;
  color: #173a56;
  margin-right: 237px;
}

.header-menu-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-menu-item {
}

.header-menu-link {
  line-height: 1.75;
  padding-top: 26px;
  padding-bottom: 26px;
  display: block;
}

.current {
  font-weight: 600;
}

.header-btn-list {
  display: flex;
  margin-left: auto;
  gap: 21px;
}

.header-btn {
  font-weight: 600;
  text-align: center;
  color: #173a56;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.header-sign-in {
  min-width: 105px;
  height: 42px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}

.header-sign-up {
  color: #fff;
  border-radius: 4px;
  min-width: 113px;
  height: 42px;
  border: none;
  background-color: #02897a;
}

/* ====================== Херо секція ======================= */
.hero {
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text-wrap {
  max-width: 465px;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 45px;
}

.hero-btn-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.hero-btn {
}

.hero-btn-start {
  min-width: 178px;
  height: 53px;
  color: #fff;
  background-color: #02897a;
  border: none;
  border-radius: 4px;
  font-weight: 700;
}

.hero-btn-watch {
  min-width: 164px;
  height: 23px;
  text-decoration: underline;
  color: #02897a;
  border: none;
  font-weight: 600;
}

/* ====================== Product ======================= */
.product {
  padding: 50px 0;
}

.product-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin-bottom: 50px;
  width: 539px;
}

.product-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.product-item {
  width: calc((100% - 90px) / 4);
}

.product-subtitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}

.product-text {
  line-height: 1.625;
}

.product-btn {
  min-width: 175px;
  height: 53px;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background-color: #02897a;
  margin: 0 auto;
  display: block;
}

/* ====================== Managment ======================= */

.managment {
  padding-top: 50px;
  padding-bottom: 50px;
}

.managmant-title {
  font-weight: 700;
  font-size: 32px;
  width: 224px;
  margin-bottom: 25px;
}

.validation {
  font-weight: 600;
  font-size: 16px;
  width: 189px;
  margin-bottom: 8px;
  line-height: 1.625;
}

.managment-myspace {
  width: 442px;
  margin-bottom: 30px;
}

.managment-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.managment-item {
}

.managment-text {
  line-height: 1.625;
}

.managment-subtitle {
  margin-bottom: 12px;
}

.managment-container {
  display: flex;
  column-gap: 84px;
}

/* ====================== Support ======================= */
.support-container {
  /* display: flex; */
}
.support-title {
}
.support-accent {
}
.support-myspace {
}
.support-list {
  display: flex;
  flex-direction: column;
}
.support-item {
}
.support-text {
}
