/*================= Cкидання стилів ======================== */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*============= Глобальні стилі =================  */
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #22343d;
  line-height: 1.6;
}

button {
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

/* ====================== Хедер ======================= */
.header {
}

.header-container {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.9;
  color: #173a56;
  margin-right: 237px;
}

.header-menu-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-menu-item {
}

.header-menu-link {
  line-height: 1.75;
  padding-top: 26px;
  padding-bottom: 26px;
  display: block;
}

.current {
  font-weight: 600;
}

.header-btn-list {
  display: flex;
  margin-left: auto;
  gap: 21px;
}

.header-btn {
  font-weight: 600;
  text-align: center;
  color: #173a56;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.header-sign-in {
  min-width: 105px;
  height: 42px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}

.header-sign-up {
  color: #fff;
  border-radius: 4px;
  min-width: 113px;
  height: 42px;
  border: none;
  background-color: #02897a;
}

/* ====================== Херо секція ======================= */
.hero {
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text-wrap {
  max-width: 465px;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
  /* font-family: "Poppins", sans-serif; */
}

.hero-text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 45px;
}

.hero-btn-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.hero-btn {
}

.hero-btn-start {
  min-width: 178px;
  height: 53px;
  color: #fff;
  background-color: #02897a;
  border: none;
  border-radius: 4px;
  font-weight: 700;
}

.hero-btn-watch {
  min-width: 164px;
  height: 23px;
  text-decoration: underline;
  color: #02897a;
  border: none;
  font-weight: 600;
}

/* ====================== Product ======================= */
.product {
  padding: 50px 0;
}

.product-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin-bottom: 50px;
  width: 539px;
  margin-left: auto;
  margin-right: auto;
}

.product-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.product-item {
  width: calc((100% - 90px) / 4);
  margin-bottom: 50px;
}

.product-subtitle {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}

.product-text {
  line-height: 1.625;
}

.product-btn {
  min-width: 175px;
  height: 53px;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background-color: #02897a;
  margin: 0 auto;
  display: block;
}

/* ====================== Managment ======================= */

.managment {
  padding-top: 50px;
  padding-bottom: 50px;
}

.managmant-title {
  font-weight: 700;
  font-size: 32px;
  width: 224px;
  margin-bottom: 25px;
}

.validation {
  font-weight: 600;
  font-size: 16px;
  width: 189px;
  margin-bottom: 8px;
  line-height: 1.625;
}

.managment-myspace {
  width: 442px;
  margin-bottom: 30px;
}

.managment-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.managment-item {
}

.managment-text {
  line-height: 1.625;
}

.managment-subtitle {
  margin-bottom: 12px;
}

.managment-container {
  display: flex;
  column-gap: 84px;
}

/* ====================== Support ======================= */
.support {
  padding-top: 50px;
  padding-bottom: 50px;
}

.support-container {
  display: flex;
  column-gap: 84px;
}
.support-title {
  font-weight: 700;
  font-size: 32px;
  width: 303.56px;
  margin-bottom: 25px;
}

.support-accent {
  font-weight: 600;
  font-size: 16px;
  width: 215.4px;
  margin-bottom: 8px;
}

.support-myspace {
  line-height: 1.625;
  margin-bottom: 30px;
  width: 437px;
}

.support-list {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.support-item {
  /* width: calc((100% - 50px) / 2); */
}

.support-text {
  line-height: 1.625;
}

.support-text-wrap {
  display: flex;
  flex-direction: column;
}

/* ====================== Collaboration ======================= */
.collaboration {
  padding-top: 50px;
  padding-bottom: 75px;
}

.collaboration-container {
  display: flex;
  column-gap: 84px;
}

.collaboration-text-wrap {
  display: flex;
  flex-direction: column;
}

.cllaboration-title {
  font-weight: 700;
  font-size: 32px;
  width: 226px;
  margin-bottom: 25px;
}

.collobotaion-accent {
  font-weight: 600;
  font-size: 16px;
  width: 133px;
  margin-bottom: 8px;
}

.collaboration-behavior {
  line-height: 1.625;
  margin-bottom: 30px;
  width: 461px;
}

.collaboration-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.collaboration-item {
}

.collaboration-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 12px;
}

.collaboration-text {
  font-size: 16px;
  line-height: 1.625;
}

/* ====================== Quick & Easy ======================= */
.quick-easy {
  padding-top: 75px;
  padding-bottom: 50px;
}

.quick-easy-container {
  max-width: 956px;
  padding: 0 20px;
}

.quick-easy-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 25px;
}

.quck-easy-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  max-width: 542px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.expert-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

.expert-item {
  display: flex;
  align-items: center;
  gap: 39px;
}

.reverse {
  flex-direction: row-reverse;
}

.expert-text {
  align-items: center;
}

.expert-btn {
  margin: 0 auto;
  min-width: 216px;
  height: 53px;
  background-color: #02897a;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-top: 50px;
  display: block;
}

/* ====================== Contents Strategies ======================= */
.strategies {
  padding-top: 50px;
  padding-bottom: 85px;
}

.strategies-title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 10px;
}

.strategies-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  margin-right: auto;
  max-width: 434px;
  margin-bottom: 40px;
}

.strategies-list {
  display: flex;
  gap: 30px;
}

.stategies-item {
  width: calc((100% - 60px) / 3);
  border: 1px solid #dedede;
  border-radius: 8px;
}

.stategies-link {
}

.strategies-link-text {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
}

.strategies-text-wrap {
  padding: 24px 27px 40px 27px;
}

.stategies-link-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.7;
  max-width: 296px;
}

.stategies-link-title:hover {
  color: #02897a;
}

/* ====================== Price Table ======================= */
.price-table {
  padding-top: 85px;
  padding-bottom: 50px;
}

.price-title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 10px;
  text-align: center;
}

.price-text {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 40px;
  text-align: center;
}

.price-card-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 72px;
}
.price-card-item {
  align-items: center;
  justify-content: center;
  padding-top: 34px;
  padding-bottom: 34px;
  width: 322px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.price-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.7;
  text-align: center;
}

.price-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  margin-bottom: 73px;
  text-align: center;
}

.price {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #afafaf;
  text-align: center;
  margin-bottom: 40px;
}

.includes-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.inkludes-item {
}

.includes-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.01em;
}

.price-btn {
  display: block;
  border-radius: 8px;
  width: 139px;
  height: 44px;
  margin: 0 auto;
  margin-top: 30px;
  border: none;
  background-color: #02897a;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

/* ====================== Reviews ======================= */
.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
}

.reviews-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.8;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 10px;
}

.reviews-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
  width: 537px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.reviews-list {
  display: flex;
  gap: 64px;
  row-gap: 16px;
}

.reviews-item {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 327px;
  padding: 30px 35px;
  border: 1px solid #dedede;
  border-radius: 5px;
}

.desgner-container {
  width: 119px;
}

.designer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #737373;
  width: 275px;
}

.designer {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  color: #252b42;
}

.accent {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}

/* ====================== Get This ======================= */
.get {
  padding-top: 50px;
  padding-bottom: 50px;
}

.get-container {
  max-width: 1008px;
  padding: 0 20px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  background-color: #02897a;
  border-radius: 32px;
}

.get-wrrap-container {
}

.get-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.514;
  color: #fff;
  margin: 0 auto;
  margin-top: 49px;
  margin-bottom: 49px;
  padding-left: 49px;
  max-width: 510px;
}

.get-btn {
  border-radius: 8px;
  width: 150px;
  height: 50px;
  background-color: #fff;
  color: #02897a;
  border: none;
  margin-left: 51px;
}

.get-image-container {
}

/* ====================== Footer ======================= */
.page-footer {
  padding-top: 50px;
}

.footer-text-wrapp {
  display: flex;
  justify-content: space-evenly;
  gap: 146px;
}

.footer-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
}

.footer-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 129px;
}

.footer-item {
}

.footer-nav-list {
}

.footer-nav-item {
}

.footer-nav-link-strong {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.footer-nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.1875;
  color: #22343d;
}

.footer-nav-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  width: 280px;
}

.privace-polis {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  margin-top: 37px;
}

.footer-nav-buton {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  width: 131px;
  height: 39px;
  background-color: #02897a;
  display: block;
  border: none;
  margin-top: 103px;
}

/* ============================================ Costumers Page ============================================================ */
.clients {
  padding-top: 100px;
  padding-bottom: 171px;
}

.clients-container {
  max-width: 890px;
  margin: 0 auto;
  padding: 0 20px;
}

.clients-title {
  font-weight: 700;
  font-size: 40px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 64px;
}

.clients-item {
  /* width: calc((100% - 192px) / 4);  */
}

.clients-link {
}

/* ============================================  Choose Product ============================================================ */
.choose {
  background-color: #f5f5f5;
  padding-top: 24px;
  padding-bottom: 68px;
}

.choose-title {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  margin-bottom: 50px;
}

.choose-list {
  display: flex;
  gap: 30px;
}

.choose-item {
  border: 1px solid #dedede;
  border-radius: 10px;
  padding: 0 37px;
  /* width: 350px; */
  width: calc((100% - 60px) / 3);
}

.choose-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 16px;
  /* padding-top: 114px; */
}

.choose-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  text-align: center;
  max-width: 275px;
  padding-bottom: 34px;
}

/* ============================================  How Product Work? ============================================================ */

.work {
  padding-top: 100px;
  padding-bottom: 115px;
}

.work-container {
  max-width: 1067px;
  margin: 0 auto;
  padding: 0 20px;
}

.work-title {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  margin-bottom: 73px;
}

.work-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 100px;
  /* column-gap: 89px; */
}

.work-item {
  display: flex;
  /* gap: 89px; */
  column-gap: 89px;
}

.work-subtitle {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}

.steps {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 16px;
}

.work-text-wrapp {
}

.work-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  width: 438px;
}

.work-btn {
  border-radius: 8px;
  width: 224px;
  height: 44px;
  background-color: #02897a;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 78px;
}

/* ============================================  Join ============================================================ */
.join {
  background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
  padding-top: 35px;
  padding-bottom: 45px;
}

.join-container {
  max-width: 763px;
  margin: 0 auto;
  padding: 0 20px;
}

.join-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  max-width: 537px;
  margin: 0 auto;
  /* margin-bottom: 270px; */
}

.group-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 227px;
}

.join-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-strong-text {
  margin-top: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #000;
  width: 248px;
}

.join-item {
}

.join-subtitle {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  color: #000;
}

.join-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.77778;
  text-align: center;
}

/* ============================================  Hero PRICING ============================================================ */

.hero-pricing {
  padding-top: 50px;
  padding-bottom: 150px;
}

.hero-pricing-title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-bottom: 32px;
}

.hero-pricing-subtitle {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-bottom: 16px;
}

.hero-pricing-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 49px;
}

/* ============================================ ENTERPRISE ============================================================ */
.enterprise {
  padding-top: 53px;
  padding-bottom: 51px;
  background: linear-gradient(180deg, #f6f6f6 0%, rgba(246, 246, 246, 0) 100%);
}

.eterprise-title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}

.enterprise-subtitle {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  margin-bottom: 8px;
}

.enterprise-text {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 32px;
  text-align: center;
}

.enterprise-btn {
  display: block;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  width: 224px;
  height: 44px;
  background-color: #02897a;
  border: none;
  color: #fff;
  margin: 0 auto;
}
